<section id="about">
    <div class="container">
        <h2 class="reveal-on-scroll">About Me</h2>
        <div class="reveal-on-scroll">
            <h3>Education</h3>
            <p><strong>PSG College of Technology, B.Tech in Information Technology</strong> (August 2021 – July 2025)</p>
            <ul>
                <li>CGPA: 8.04</li>
            </ul>
        </div>
        <div class="reveal-on-scroll">
            <h3>Experience</h3>
            <p><strong>Software Development Engineer Intern, Amazon – Chennai</strong> (January 2025 – June 2025)</p>
            <ul>
                <li>Developed a Kindle E-Reader feature in React Native and C++ to allow users to pin content across pages, with seamless cloud syncing for data storage.</li>
                <li>Optimized internal workflow migration by redesigning the algorithm-triggering architecture with AWS, cutting execution time by 40% and ensuring robust test coverage before production release.</li>
            </ul>
            <p><strong>Machine learning Intern, Samsung R&D – Remote</strong> (June 2023 – December 2023)</p>
            <ul>
                <li>Developed an audio classification model by applying Vision Transformer (ViT) architecture on spectrogram representations of diverse datasets.</li>
                <li>Achieved 98% accuracy and received the Best Project Award for outstanding performance.</li>
            </ul>
        </div>
        <div class="reveal-on-scroll">
            <h3>Publications</h3>
            <p><strong>Ranking of post-quantum cryptography signature schemes using EDAS - DOI</strong> (March 2025)</p>
            <ul>
                <li>Anitha Kumari Kumarasamy, Jaishriram Pichaikutty Muthu, Shakthi Sathiswaran</li>
            </ul>
        </div>
        <div class="reveal-on-scroll">
            <h3>Achievements</h3>
            <ul>
                <li>Excellence in Work Certificate for Samsung Prism Internship</li>
                <li>Class representative in the third semester</li>
                <li>Recognized with the Best Project Award for the final year project in the IT department</li>
            </ul>
        </div>
    </div>
</section>