<section id="achievements">
    <div class="container">
        <h2 class="reveal-on-scroll">Achievements</h2>
        <div class="reveal-on-scroll">
            <ul>
                <li>Excellence in Work Certificate for Samsung Prism Internship</li>
                <li>Class representative in the third semester</li>
                <li>Recognized with the Best Project Award for the final year project in the IT department</li>
            </ul>
        </div>
    </div>
</section>