<section id="education">
    <div class="container">
        <h2 class="reveal-on-scroll">Education</h2>
        <div class="reveal-on-scroll">
            <p><strong>PSG College of Technology, B.Tech in Information Technology</strong> (August 2021 – July 2025)</p>
            <ul>
                <li>CGPA: 8.04</li>
            </ul>
        </div>
    </div>
</section>