---
import GameContainer from './GameContainer.tsx';
---

<section id="games">
  <div class="container">
    <h2 class="reveal-on-scroll">Games</h2>
    <div class="game-container">
      <GameContainer client:load />
    </div>
  </div>
</section>
