<section id="publications">
    <div class="container">
        <h2 class="reveal-on-scroll">Publications</h2>
        <div class="reveal-on-scroll">
            <p><strong>Ranking of post-quantum cryptography signature schemes using EDAS - DOI</strong> (March 2025)</p>
            <ul>
                <li>Anitha Kumari Kumarasamy, Jaishriram Pichaikutty Muthu, Shakthi Sathiswaran</li>
            </ul>
        </div>
    </div>
</section>