<section id="skills">
    <div class="container">
        <h2 class="reveal-on-scroll">Core Technologies</h2>
        <div class="reveal-on-scroll">
            <h3>Languages</h3>
            <p>C++, Java, Python, JavaScript</p>
        </div>
        <div class="reveal-on-scroll">
            <h3>Frameworks & Databases</h3>
            <p>React.js, React Native, PyTorch, MySQL, MongoDB</p>
        </div>
        <div class="reveal-on-scroll">
            <h3>Technologies & Tools</h3>
            <p>AWS, Git, Agile methodologies</p>
        </div>
    </div>
</section>